<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ImportTripQuotePlugin.Production" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImportTripQuotePlugin.Properties.Production" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
  <dependentAssembly>
    <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
    <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0"/>
  </dependentAssembly>
  <applicationSettings>
    <ImportTripQuotePlugin.Properties.Production>
      <setting name="URL" serializeAs="String">
        <value>https://www.airtickets.com.au/</value>
      </setting>
	  <setting name="AgentNo" serializeAs="String">
        <value>100003</value>
      </setting>
	  <setting name="UserId" serializeAs="String">
        <value>Travelport</value>
      </setting>
	  <setting name="Password" serializeAs="String">
        <value>portly</value>
      </setting>
	  <setting name="PNRURL" serializeAs="String">
        <value>https://www.airtickets.com.au/SmartTickets/Pnr</value>
      </setting>
      <setting name="IncludeRule" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludedRuleCategory" serializeAs="String">
        <value>4,6,7,14,15,16,31</value>
      </setting>
      <setting name="QuoteFormat" serializeAs="String">
        <value>HTML</value>
      </setting>
      <setting name="PasteHTMLElement" serializeAs="String">
        <value>#tripquote_paste</value>
      </setting>
      <setting name="TestMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseTQC" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CopyToClipboardOnly" serializeAs="String">
        <value>True</value>
      </setting>
    </ImportTripQuotePlugin.Properties.Production>
  </applicationSettings>
</configuration>
